[Unit]
Description=Eventiver Backend
Documentation=https://example.com
After=network.target

[Service]
Type=simple
User=ubuntu
ExecStart=/usr/bin/node /home/ubuntu/Code/eventiver/dist/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target